<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259434632329-bp3v3kflc23ncttonhajp810llc0s6va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259434632329-bp3v3kflc23ncttonhajp810llc0s6va</string>
	<key>API_KEY</key>
	<string>AIzaSyDnvwnhItsjVhik_fZgQZv8RymIGIxuQUo</string>
	<key>GCM_SENDER_ID</key>
	<string>259434632329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.elnurvali.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-1fd1c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-1fd1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259434632329:ios:769efcf5360f9d7343a258</string>
</dict>
</plist>